*{
    font-family:calibri;
    margin:0;
    padding:0;
}

/* ------------------------ SECTION´s ------------------------ */

#home{
	width: 100%;
	height: 100vh;
	background: url(/Imagens/Imagens_png/11.png);
	background-position: center center;
	background-size: cover;
	background-position-y: 0px;
	background-repeat: no-repeat;
	
}

#sobre{
	width: 100%;
	height: 100vh;
	background-color: #f9ef23;
}


/* ------------------------ MENU ------------------------ */

header{
	display: flex;
	position: fixed;
	right: 0;
	top: 0;
	height: 60px;
	line-height: 60px;
    width:100%;
	margin: 10px 50px;
	justify-content: space-between;
}

.img-logo{
	width: 50%;
	display: flex;
	align-items: center;
	margin-left: 10%;
}

.img-logo img{
	width: 50px;
	height: 30px;
}

.img-logo h1{
	color: white;
	font-size: 15px;
	line-height: 15px

}

ul.topnav li {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
}

ul.topnav li a {
	display: block;
	color: #fff;
	text-decoration: none;
	height: 20px;
	line-height: 10px;
	padding: 0 10px;
	outline: 0;
}

ul.topnav li a:hover {
    color: #f9ef23;
}

ul.topnav li.icon {
    display: none;
}


		/*A classe responsiva é adicionada à ul superior com o JavaScript quando o usuário clica no ícone. Esta classe faz com que os itens principais do menu fiquem ok em telas menores */
@media screen and (max-width:680px) {

	.img-logo img{
		margin-left: 20px;
	}

	ul.topnav li {
		display: none;
	}
		  
	ul.topnav li.icon {
			display: inline-block;
	}

	ul.topnav.responsive {
	    position: relative;
		height:auto;
		padding-top:15px;
		padding-bottom:10px;
		line-height:5px;
		width:100%;
			
	}

	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	ul.topnav.responsive li {
		text-align:center; 
		float: none;
		padding:0;
		display: inline;	
	}

	ul.topnav.responsive li a {
		display: block;
		padding:0;
		text-align: left;
		line-height:30px;
		text-align:center;
	}
}